body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-link {
  color: #808080;
  font-size: 8px;
  text-decoration: none;
}
.hover-link:hover {
  color: #A9A9A9;
  text-decoration: underline;
}