body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-link {
  color: #808080;
  font-size: 8px;
  text-decoration: none;
}

.hover-link:hover {
  color: #A9A9A9;
  text-decoration: underline;
}

a,
a li,
a li div {
  border-radius: 10px;
}

a:not(.active) li div:hover {
  background-color: #343434;

  span.item-content::before {
    content: ">";
    margin-right: 5px;
  }
}

.active li {
  background-color: #343434;
  opacity: 0.8;
}

#profile-pic:hover {
  border: 2.5px solid rgb(145, 145, 145);
  border-radius: 100%;
}

#logout-btn:hover {
  span {
    text-decoration: underline;
  }
}

#DashBoard .nav-item .active {
  background-color: rgba(184, 221, 247, 0.25);

  div {
    color: #0047AB
  }
}

#DashBoard .nav-item a:not(.active):hover {
  background-color: #E5E4E2;
}

#DashBoard ul li:hover {
  background-color: #E5E4E2;
}

.icon:hover {
  cursor: pointer;
}

#create-board {
  border-radius: 10px;

  svg {
    color: #A9A9A9;
  }

  &:hover {
    background-color: #E5E4E2;

    svg {
      color: #808080;
    }
  }
}

#background-picker li:hover {
  opacity: 1.5;

  svg {
    color: white;
  }
}

#workspace {
  option[selected] {
    background-color: yellow;
  }
}


.star-icon {
  color: #ffbf00;
  z-index: 1;
}

.star-icon:hover {
  color: #ff8a8a;
  transform: scale(1.2);
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.board-scroll-container {
  max-height: 300px;
  overflow-y: auto;
  max-width: calc(100% - 175px);
}

.board a {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 20px;
  padding: 8px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.board a:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

.board a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
  opacity: 0;
  transition: opacity 0.3s ease;
}

.board a:hover::before {
  opacity: 1;
}

.board {
  margin: 0 2% 2% 0;
  padding: 0;
  background-size: cover;
  border-radius: 5px;
  background-position: 50%;
  width: 185px;
}

.board-title {
  flex: "0 0 auto";
  font-size: "20px";
  font-weight: "bold";
  max-height: "40px";
  overflow: "hidden";
  width: "100%";
  word-wrap: "break-word";
  display: inline-block;
}

.board-link {
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;

}

.board-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex: 0 0 auto;
}

.board-workspace {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 185px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #f1f1f1a6;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #808080 #f1f1f1a6;
}

*::-moz-scrollbar {
  width: 12px;
}

*::-moz-scrollbar-thumb {
  background-color: #808080;
  border-radius: 6px;
}

*::-moz-scrollbar-track {
  background-color: #f1f1f1a6;
}